body {
  font-family: "Roboto", sans-serif;
  width: 350px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* .reliability {
  height: 75px;
  width: 150px;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 0px 3px 3px #35323275;
  text-align: center;
} */

#feedback {
  text-align: center;
}
